.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .bg1 {
    width: 80%;
    height: auto;
    border-radius: 15px;
  }
  .rotated-image1 {
    width: 100px;
    height: 100px;
    margin: 10px;
    transform: rotate(15deg);
  }
.gridcard {
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border: lightseagreen 5px solid;
    border-radius: 15px;
}